<div class="pt-5 container">
    <div class="d-flex justify-content-between pt-5">
        <div class="justify-content-between">
            <h1 class="table-heading-text">BUSINESSES</h1>
        </div>
    </div>
    <div class="pt-2">
        <table class="table table-striped px-5">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">NAME</th>
                    <th scope="col">PHONE</th>
                    <th scope="col">WEBSITE</th>
                    <th scope="col">ADDRESS</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let businesses of allBusinesses; index as i;">
                    <th scope="row">{{i+1}}</th>
                    <td>{{businesses.businessName}}</td>
                    <td>{{businesses.phone}}</td>
                    <td>{{businesses.website}}</td>
                    <td>{{businesses.address}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>