<!-- <div class="pt-5 container">
    <div class="d-flex justify-content-between pt-5">
        <div class="justify-content-between">
            <h1 class="table-heading-text">BUSINESSES</h1>
        </div>
        <div class="pt-3">
            <mat-checkbox class="mat-card check-style" color="primary" title="Website Not Available"
                    (change)="website($event.checked)">
                    Website Not Available
            </mat-checkbox>
        </div>
    </div>
    <div class="pt-2">
        <table class="table table-striped px-5">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">NAME</th>
                    <th scope="col">PHONE</th>
                    <th scope="col">WEBSITE</th>
                    <th scope="col">ADDRESS</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let businesses of allBusinesses; index as i;">
                    <th scope="row">{{i+1}}</th>
                    <td>{{businesses.businessName}}</td>
                    <td>{{businesses.phone}}</td>
                    <td>{{businesses.website}}</td>
                    <td>{{businesses.address}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->
<div class="container padding-top">
    <div class="justify-content-between">
        <h1>BUSINESSES LIST</h1>
    </div>
    <mat-card class="w-100 pt-3">
        <div class="row">
            <div class="col-4">
                <mat-form-field class="w-100">
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="search($event.target.value)">
                </mat-form-field>
            </div>
            <div class="col-4 offset-4">
                <div class="d-flex justify-content-end">
                    <mat-checkbox class="mat-card check-style" color="primary" title="Website Not Available"
                    (change)="website($event.checked)">
                        Website Not Available
                    </mat-checkbox>
                </div>
            </div>
        </div>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100 mt-4">
            <ng-container matColumnDef="businessName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Business Name</th>
                <td mat-cell *matCellDef="let user">
                    {{user?.businessName}}
                </td>
            </ng-container>
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
                <td mat-cell *matCellDef="let user">{{user?.phone}}</td>
            </ng-container>
            <ng-container matColumnDef="website">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Website</th>
                <td mat-cell *matCellDef="let user">{{user?.website}}</td>
            </ng-container>
            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
                <td mat-cell *matCellDef="let user">{{user?.address}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="getPageSizeOptions()" showFirstLastButtons></mat-paginator>
    </mat-card>
</div>