.loader img{
  width: 300px;
  height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
}

.form-group {
  margin-bottom: 0rem !important;
}

.search-form{
    background-color: #0b223600;
}


.search-form .form-group input {
  padding-right: 0px !important;
  font-size: 20px !important;
}

.col-md-12,
.col-md-6,
.col-md-3,
.col-md{
  padding:0px !important;
}

table{
  border: 1px solid #c2c2c2;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
