<div class="loader" *ngIf="loader"><img src="../../../assets/icon/hzk6C.gif" alt="loader"></div>
<div *ngIf="!hideSearchTable && !loader" class="background ">
    <div class="home-sereen pt-5">
        <div class="image-overlay"></div>
        <div class="business-form pt-5 hover">
            <div class="search-form container py-5" role="tabpanel" aria-labelledby="v-pills-performance-tab">
                <form action="#" class="business-search">
                    <div class="row">
                        <!-- Input Field-->
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-field px-1 py-3">
                                    <input type="text" name="keyword" class="form-control"
                                        placeholder="Eg. Interior Designer"
                                        [formControl]="searchBusinessForm.controls['keyword']">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-field px-1 py-3">
                                    <input type="text" name="location" class="form-control" placeholder="Location">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="form-field px-1 py-3">
                                    <input type="text" name="radius" class="form-control" placeholder="Radius in KM"
                                        [formControl]="searchBusinessForm.controls['radius']">
                                </div>
                            </div>
                        </div>
                        <!-- Button -->
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="form-field p-1 pt-3">
                                    <button type="submit" [disabled]="!searchBusinessForm.valid"
                                        class="form-control btn btn-primary"
                                        (click)="onSearchProCustomer()">SEARCH</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<section class="pt-5 container" *ngIf="hideSearchTable">
    <div class="d-flex justify-content-between pt-5">
        <div class="justify-content-between">
            <h1 class="table-heading-text">SEARCH RESULT</h1>
        </div>
        <div class="pt-3">
            <button class="btn btn-primary space mr-2" (click)="onImport()">IMPORT</button>

            <button class="btn btn-primary space" (click)="backToSearch()">BACK</button>
            
        </div>
    </div>
    <div class="pt-2">
        <table class="table table-striped px-5">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">NAME</th>
                    <th scope="col">ADDRESS</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let searchData of allSearchData; index as i;">
                    <th scope="row">{{i+1}}</th>
                    <td>{{searchData.name}}</td>
                    <td>{{searchData.vicinity}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>