<div>
    <div class="home-sereen">
        <div class="image-overlay"></div>
        <div class="business-form">
            <div class="search-form p-5" role="tabpanel" aria-labelledby="v-pills-performance-tab">
                <form action="#" class="business-search">
                    <div class="row">
                        <!-- Input Field-->
                        <div>
                            <div class="form-group">
                                <div class="form-field">
                                    
                                    <input type="text" name="location" class="form-control" placeholder="eg. Indranagar"
                                        [formControl]="searchBusinessForm.controls['location']">
                                        <label for="location">Enter Loacation</label>
                                </div>
                            </div>
                        </div>

                        <!-- Category Field-->
                        <div>
                            <div class="form-group">
                                <div class="form-field">
                                    <div class="select-wrap">
                                        <!-- <label for="category">Select the Category</label> -->
                                        <select name="category" id="" class="form-control"
                                            [formControl]="searchBusinessForm.controls['category']">
                                            <option value="">Category</option>
                                            <option *ngFor="let category of allCategories"
                                                value="{{category.category}}">
                                                {{category.category}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Radius Field -->
                        <div>
                            <div class="form-group">
                                <div class="form-field">
                                    <div class="select-wrap">
                                        <!-- <label for="radius">Select the Radius</label> -->
                                        <select name="radius" id="" class="form-control"
                                            [formControl]="searchBusinessForm.controls['radius']">
                                            <option value="">Radius</option>
                                            <option *ngFor="let radius of allRadius" value="{{radius.radius}}">
                                                {{radius.radius}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Button -->
                        <div>
                            <div class="form-group">
                                <div class="form-field">
                                    <button type="submit" [disabled]="!searchBusinessForm.valid"
                                        class="form-control btn btn-dark"
                                        (click)="onSearchProCustomer()">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>